.container_list::after {
  content: "";
  width: 85%;
  display: block;
  height: 1px;
  background-color: #D5D5D5;
  margin: 0 auto;
}

.student {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}


.name {
  width: 20%;
  text-align: left;
}

.email {
  width: 20%;
  text-align: left;
}

.description {
  width: 20%;
  text-align: left;
}


.note {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.note div {
  display: flex;
  flex-direction: column-reverse;
  margin-right: 20px;
}

.red {
  border: 1px solid #EF6F6C;
}

.yellow {
  border: 1px solid #ECD070;
}

.blue {
  border: 1px solid #487D92;
}

.mint {
  border: 1px solid #70D3C1;
}

.purple {
  border: 1px solid #BB77C0;
}

.circle {
  border: 1px solid red;
  border-radius: 100%;
  height: 30px
}
