.App {
  text-align: center;
  background: #EEF0F3;
  min-height: 100vh;
  padding-bottom: 5%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  padding: .5rem 2rem !important;
  .navbar-nav {
    align-items: center;
    a {
      font-weight: bold;
    }
  }
}

.connexion {
  position: absolute;
  right: 2rem;
  background-color: #45D492;
  border-radius: 3px;
  padding: 0 20px;
  .nav-link {
    color: #FFFFFF !important;
    &:hover {
      color: rgba(255,255,255,.5);
    }
  }
}
